# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
dist/
build/

# Jupyter / notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
*.parquet
*.sqlite
mlflow.db
mlruns/
data/processed/
data/split/
data/features
data/ab_events/
data/raw/*.csv
mlflow.db

# Virtual env
.venv/
venv-wsl/
venv/
env/
ENV/
*.env

# Mac / Linux
.DS_Store

# Logs
logs/

# IDE & editor
.vscode/
.idea/
*.swp

lightning_logs/
1.py
outputs/
backup/